body{
    font-size: 15px;
    line-height: 1.5;
    font-family: 'Karma',serif;
    background-color: white;
}
.header{
    float: left;
    text-align: center;
    width: 100%;
    font-weight: 600;
    font-size: 24px;
}
.main{
    float: left;
    width: 100%;
}
.container{
    width: 1200px;
}
.row{
    float: left;
    width: 100%;
}
.item{
    float: left;
    width: 25%;
}
img{
    max-width: 100%;
}